@font-face {
  font-family: "Brygada1918";
  src: url("./Brygada1918-Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("./Raleway-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("./Raleway-Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 110px;
  width: 100%;
  margin: 0;
}

.link {
  background: #262b11;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-decoration: none;
  overflow: hidden;
}

.girl {
  position: absolute;
  top: 0;
  left: 20px;
  opacity: 1;
  transition: opacity 0.3s;
  z-index: 2;
}
@media screen and (max-width: 1200px) {
  .girl {
    left: 0;
  }
}
@media screen and (max-width: 640px) {
  .girl {
    left: -55px;
  }
}
@media screen and (max-width: 480px) {
  .girl {
    right: calc(50% - 218px);
    left: unset;
  }
}

.lines {
  position: absolute;
  left: 0;
  opacity: 1;
  transition: opacity 0.3s;
  z-index: 1;
}
@media screen and (max-width: 2048px) {
  .lines {
    width: 300px;
    left: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .lines {
    width: 255px;
  }
}
@media screen and (max-width: 960px) {
  .lines {
    width: 170px;
  }
}
@media screen and (max-width: 640px) {
  .lines {
    left: -80px;
  }
}

.text-container {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  gap: 20px;
  align-items: center;
  transform: translateY(0);
  transition: transform 0.3s;
}
@media screen and (max-width: 2690px) {
  .text-container {
    width: 860px;
    position: absolute;
    left: calc(50% - 510px);
  }
}
@media screen and (max-width: 1366px) {
  .text-container {
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
    width: unset;
    top: 12px;
    left: calc(50% - 250px);
  }
}
@media screen and (max-width: 1200px) {
  .text-container {
    left: 240px;
  }
}
@media screen and (max-width: 960px) {
  .text-container {
    gap: 4px;
    top: calc(50% - 35px);
    left: calc(50% - 170px);
  }
}
@media screen and (max-width: 640px) {
  .text-container {
    gap: 14px;
    top: calc(50% - 37px);
    left: calc(50% - 145px);
  }
}
@media screen and (max-width: 480px) {
  .text-container {
    gap: 5px;
    top: 5px;
    left: calc(50% - 138px);
  }
}

.text {
  font-family: "Brygada1918";
  font-weight: 600;
  color: #fff;
  font-size: 64px;
  line-height: 1;
}
.text span {
  color: #bfff0b;
}
@media screen and (max-width: 2690px) {
  .text {
    font-size: 40px;
  }
}
@media screen and (max-width: 1366px) {
  .text {
    font-size: 32px;
  }
}
@media screen and (max-width: 960px) {
  .text {
    font-size: 24px;
  }
}
@media screen and (max-width: 640px) {
  .text {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  .text {
    font-size: 18px;
  }
}
@media screen and (max-width: 2690px) {
  .text_main {
    width: 550px;
  }
}
@media screen and (max-width: 1366px) {
  .text_main {
    width: 400px;
  }
}
@media screen and (max-width: 960px) {
  .text_main {
    width: 300px;
  }
}
@media screen and (max-width: 640px) {
  .text_main {
    width: 270px;
  }
}
@media screen and (max-width: 480px) {
  .text_main {
    width: 220px;
  }
}
.text-right {
  display: flex;
  gap: 20px;
  align-items: center;
}
@media screen and (max-width: 2690px) {
  .text-right {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 1366px) {
  .text-right {
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
  }
}
.text_promocode {
  font-family: "Raleway";
  font-size: 36px;
  transform: translateY(10px);
}
@media screen and (max-width: 2690px) {
  .text_promocode {
    font-size: 24px;
  }
}
@media screen and (max-width: 1366px) {
  .text_promocode {
    font-size: 12px;
    transform: unset;
  }
}
.text_btn {
  font-family: "Raleway";
  background: #ebf0de;
  font-size: 36px;
  border-radius: 5px;
  color: #262b11;
  padding: 10px 15px;
}
@media screen and (max-width: 2690px) {
  .text_btn {
    font-size: 24px;
  }
}
@media screen and (max-width: 1366px) {
  .text_btn {
    font-size: 15px;
  }
}
@media screen and (max-width: 1366px) {
  .text_btn {
    padding: 2px 5px;
  }
}

.right {
  position: absolute;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-end;
  z-index: 3;
  transform: translateX(0);
  transition: transform 0.3s;
}
@media screen and (max-width: 1366px) {
  .right {
    gap: 15px;
    bottom: 10px;
  }
}
@media screen and (max-width: 1200px) {
  .right {
    gap: 18px;
  }
}
@media screen and (max-width: 960px) {
  .right {
    gap: 12px;
  }
}
@media screen and (max-width: 640px) {
  .right {
    gap: 18px;
    top: calc(50% - 36px);
    bottom: unset;
    right: 10px;
  }
}
@media screen and (max-width: 480px) {
  .right {
    flex-direction: row-reverse;
    top: unset;
    bottom: 5px;
    width: 278px;
    left: calc(50% - 138px);
    justify-content: space-between;
  }
}

.button-top {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.button {
  background: #bfff0b;
  outline: none;
  border: none;
  color: #262b11;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 24px;
  padding: 10px 96px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.button:hover {
  transition: 0.3s;
  background: #7e9837;
}
@media screen and (max-width: 2690px) {
  .button {
    padding: 10px 75px;
  }
}
@media screen and (max-width: 1366px) {
  .button {
    padding: 10px 50px;
  }
}
@media screen and (max-width: 960px) {
  .button {
    padding: 5px 14px;
  }
}
@media screen and (max-width: 640px) {
  .button {
    font-size: 20px;
    padding: 5px 12px;
  }
}
@media screen and (max-width: 480px) {
  .button {
    font-size: 14px;
    padding: 4px 11px;
  }
}

.anim.girl {
  opacity: 0;
  transition: opacity 0.3s;
}
.anim.lines {
  opacity: 0;
  transition: opacity 0.3s;
}
.anim.text-container {
  transform: translateY(-100px);
  transition: transform 0.3s;
}
.anim.right {
  transform: translateX(600px);
  transition: transform 0.3s;
}